<div style="background-color: gainsboro; height: 100vh;" class="container-fluid">
    <div style=" margin-top: 10%; padding: 5%; display: block; margin: 0  auto; background-color: white; height: 70vh;" class="login">
      <h2 class="text-center">LOGIN</h2>
  
  
      <form style="font-size: 2em;" >
        <div style="margin: 5%;" class="form-group">
          <label style="margin-bottom: 2%;" for="exampleInputEmail1">Email address</label>
          <input style=" height: 5vh; border-radius: 10px; font-size: 20px; border: 1.5px solid black;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" required>
  
        </div>
        <div style="margin: 5%;" class="form-group">
          <label style="margin-bottom: 2%;" for="exampleInputPassword1">Password</label>
          <input  style=" height: 5vh; border-radius: 10px; font-size: 20px; border: 1.5px solid black;" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
  
        <button style="display: block; margin: 0 auto; padding: 1% 10%;" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  